<a href="https://colab.research.google.com/github/Gauravgade3/Global-Terrorism-Analysis/blob/main/Global_Terrorism_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Global Terrorism Database (GTD) is an open-source database including information on terrorist attacks around the world from 1970 through 2017. The GTD includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period and now includes more than 180,000 attacks. The database is maintained by researchers at the National Consortium for the Study of Terrorism and Responses to Terrorism (START), headquartered at the University of Maryland.</b>

# <b> Explore and analyze the data to discover key findings pertaining to terrorist activities. </b>

# **Introduction**

**We have the database including more than 180,000 terrorist attacks around the world from 1970 to 2017. And we are going to find out relative information about this terrorist activities.**

In [ ]:
# Mounting drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Importing some necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
# Reading csv file
df=pd.read_csv('/content/drive/MyDrive/Almabetter/Copy of Global Terrorism Data.csv',encoding = "ISO-8859-1")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# **Exploring the dataset**

In [ ]:
# Checking first 10 rows in dataset
df.head(10)

        eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
0  197000000001   1970       7     2  ...        0         0       0      NaN
1  197000000002   1970       0     0  ...        1         1       1      NaN
2  197001000001   1970       1     0  ...       -9         1       1      NaN
3  197001000002   1970       1     0  ...       -9         1       1      NaN
4  197001000003   1970       1     0  ...       -9         1       1      NaN
5  197001010002   1970       1     1  ...       -9         0      -9      NaN
6  197001020001   1970       1     2  ...        0         0       0      NaN
7  197001020002   1970       1     2  ...       -9         0      -9      NaN
8  197001020003   1970       1     2  ...        0         0       0      NaN
9  197001030001   1970       1     3  ...        0         0       0      NaN

[10 rows x 135 columns]

In [ ]:
# Checking last 10 rows in dataset
df.tail(10)

             eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
181681  201712310016   2017      12    31  ...        0         0       0      NaN
181682  201712310017   2017      12    31  ...       -9         0      -9      NaN
181683  201712310018   2017      12    31  ...        0         0       0      NaN
181684  201712310019   2017      12    31  ...        0         0       0      NaN
181685  201712310020   2017      12    31  ...       -9         0      -9      NaN
181686  201712310022   2017      12    31  ...        0         0       0      NaN
181687  201712310029   2017      12    31  ...       -9         1       1      NaN
181688  201712310030   2017      12    31  ...        0         0       0      NaN
181689  201712310031   2017      12    31  ...       -9         0      -9      NaN
181690  201712310032   2017      12    31  ...       -9         0      -9      NaN

[10 rows x 135 columns]

In [ ]:
# Checking basic information of our dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB

In [ ]:
# Exploring descriptive statistical parameter
df.describe()

            eventid          iyear  ...       INT_MISC        INT_ANY
count  1.816910e+05  181691.000000  ...  181691.000000  181691.000000
mean   2.002705e+11    2002.638997  ...       0.090010      -3.945952
std    1.325957e+09      13.259430  ...       0.568457       4.691325
min    1.970000e+11    1970.000000  ...      -9.000000      -9.000000
25%    1.991021e+11    1991.000000  ...       0.000000      -9.000000
50%    2.009022e+11    2009.000000  ...       0.000000       0.000000
75%    2.014081e+11    2014.000000  ...       0.000000       0.000000
max    2.017123e+11    2017.000000  ...       1.000000       1.000000

[8 rows x 77 columns]

# **Data Cleaning**

In [ ]:
# checking the total number of null values in every column

df.isnull().sum().head(60)

eventid                  0
iyear                    0
imonth                   0
iday                     0
approxdate          172452
extended                 0
resolution          179471
country                  0
country_txt              0
region                   0
region_txt               0
provstate              421
city                   434
latitude              4556
longitude             4557
specificity              6
vicinity                 0
location            126196
summary              66129
crit1                    0
crit2                    0
crit3                    0
doubtterr                1
alternative         152680
alternative_txt     152680
multiple                 1
success                  0
suicide                  0
attacktype1              0
attacktype1_txt          0
attacktype2         175377
attacktype2_txt     175377
attacktype3         181263
attacktype3_txt     181263
targtype1                0
targtype1_txt            0
targsubtype1         10373
targsubtype1_txt     10373
corp1                42550
target1                636
natlty1               1559
natlty1_txt           1559
targtype2           170547
targtype2_txt       170547
targsubtype2        171006
targsubtype2_txt    171006
corp2               171574
target2             170671
natlty2             170863
natlty2_txt         170863
targtype3           180515
targtype3_txt       180515
targsubtype3        180594
targsubtype3_txt    180594
corp3               180665
target3             180516
natlty3             180544
natlty3_txt         180544
gname                    0
gsubname            175801
dtype: int64

In [ ]:
# Checking the shape of dataset
df.shape

(181691, 135)

In [ ]:
# Copying the database
df1=df.copy()

In [ ]:
# Verifying the shape of copied dataset
df1.shape

(181691, 135)

In [ ]:
# Dropping the columns from top 60 columns containing large number of null values
df1.drop(['approxdate','resolution','alternative','alternative_txt','attacktype2','attacktype2_txt','attacktype3','attacktype3_txt','targtype2','targtype2_txt','targsubtype2','targsubtype2_txt','corp2','target2','natlty2','natlty2_txt','targtype3','targtype3_txt','targsubtype3','targsubtype3_txt','corp3','target3','natlty3','natlty3_txt','gsubname'],axis = 1, inplace=True)

In [ ]:
# Checking the shape of dataset
df1.shape

(181691, 110)

In [ ]:
# checking the total number of null values in every column

df.isnull().sum().tail(60)

claimmode2            181075
claimmode2_txt        181075
claim3                181373
claimmode3            181558
claimmode3_txt        181558
compclaim             176852
weaptype1                  0
weaptype1_txt              0
weapsubtype1           20768
weapsubtype1_txt       20768
weaptype2             168564
weaptype2_txt         168564
weapsubtype2          170149
weapsubtype2_txt      170149
weaptype3             179828
weaptype3_txt         179828
weapsubtype3          179998
weapsubtype3_txt      179998
weaptype4             181618
weaptype4_txt         181618
weapsubtype4          181621
weapsubtype4_txt      181621
weapdetail             67670
nkill                  10313
nkillus                64446
nkillter               66958
nwound                 16311
nwoundus               64702
nwoundte               69143
property                   0
propextent            117626
propextent_txt        117626
propvalue             142702
propcomment           123732
ishostkid                178
nhostkid              168119
nhostkidus            168174
nhours                177628
ndays                 173567
divert                181367
kidhijcountry         178386
ransom                104310
ransomamt             180341
ransomamtus           181128
ransompaid            180917
ransompaidus          181139
ransomnote            181177
hostkidoutcome        170700
hostkidoutcome_txt    170700
nreleased             171291
addnotes              153402
scite1                 66191
scite2                104758
scite3                138175
dbsource                   0
INT_LOG                    0
INT_IDEO                   0
INT_MISC                   0
INT_ANY                    0
related               156653
dtype: int64

In [ ]:
# Dropping the columns from last 60 columns containing large number of null values

df1.drop(['claimmode2','claimmode2_txt','claim3','claimmode3','claimmode3_txt','compclaim','weapsubtype2','weapsubtype2_txt','weaptype3','weaptype3_txt','weapsubtype3','weapsubtype3_txt','weaptype4','weaptype4_txt','weapsubtype4','weapsubtype4_txt','nhours','ndays','divert','kidhijcountry','ransomamt','ransomamtus','ransompaid','ransompaidus','ransomnote','hostkidoutcome','hostkidoutcome_txt','nreleased'],axis=1,inplace=True)

In [ ]:
# Checking the shape of dataset

df1.shape

(181691, 82)

In [ ]:
# checking the total number of null values in every column

df1.isnull().sum().head(60)

eventid                  0
iyear                    0
imonth                   0
iday                     0
extended                 0
country                  0
country_txt              0
region                   0
region_txt               0
provstate              421
city                   434
latitude              4556
longitude             4557
specificity              6
vicinity                 0
location            126196
summary              66129
crit1                    0
crit2                    0
crit3                    0
doubtterr                1
multiple                 1
success                  0
suicide                  0
attacktype1              0
attacktype1_txt          0
targtype1                0
targtype1_txt            0
targsubtype1         10373
targsubtype1_txt     10373
corp1                42550
target1                636
natlty1               1559
natlty1_txt           1559
gname                    0
gname2              179678
gsubname2           181531
gname3              181367
gsubname3           181671
motive              131130
guncertain1            380
guncertain2         179736
guncertain3         181371
individual               0
nperps               71115
nperpcap             69489
claimed              66120
claimmode           162608
claimmode_txt       162608
claim2              179801
weaptype1                0
weaptype1_txt            0
weapsubtype1         20768
weapsubtype1_txt     20768
weaptype2           168564
weaptype2_txt       168564
weapdetail           67670
nkill                10313
nkillus              64446
nkillter             66958
dtype: int64

In [ ]:
# Dropping the columns from next top 60 columns containing large number of null values

df1.drop(['gname2','gsubname2','gname3','gsubname3','guncertain2','guncertain3','claim2','claimmode_txt','weaptype2_txt','addnotes','related','claimmode','weaptype2','nhostkidus'],axis=1,inplace=True)

In [ ]:
# Checking the shape of dataset

df1.shape

(181691, 68)

In [ ]:
# Dropping the columns from top 40 columns containing large number of null values

df1.isnull().sum().head(40)

eventid                  0
iyear                    0
imonth                   0
iday                     0
extended                 0
country                  0
country_txt              0
region                   0
region_txt               0
provstate              421
city                   434
latitude              4556
longitude             4557
specificity              6
vicinity                 0
location            126196
summary              66129
crit1                    0
crit2                    0
crit3                    0
doubtterr                1
multiple                 1
success                  0
suicide                  0
attacktype1              0
attacktype1_txt          0
targtype1                0
targtype1_txt            0
targsubtype1         10373
targsubtype1_txt     10373
corp1                42550
target1                636
natlty1               1559
natlty1_txt           1559
gname                    0
motive              131130
guncertain1            380
individual               0
nperps               71115
nperpcap             69489
dtype: int64

In [ ]:
# Dropping the columns from top 35 columns containing large number of null values

df1.isnull().sum().tail(35)

natlty1_txt           1559
gname                    0
motive              131130
guncertain1            380
individual               0
nperps               71115
nperpcap             69489
claimed              66120
weaptype1                0
weaptype1_txt            0
weapsubtype1         20768
weapsubtype1_txt     20768
weapdetail           67670
nkill                10313
nkillus              64446
nkillter             66958
nwound               16311
nwoundus             64702
nwoundte             69143
property                 0
propextent          117626
propextent_txt      117626
propvalue           142702
propcomment         123732
ishostkid              178
nhostkid            168119
ransom              104310
scite1               66191
scite2              104758
scite3              138175
dbsource                 0
INT_LOG                  0
INT_IDEO                 0
INT_MISC                 0
INT_ANY                  0
dtype: int64

In [ ]:
# Checking basic information of our dataset

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 68 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   eventid           181691 non-null  int64
 1   iyear             181691 non-null  int64
 2   imonth            181691 non-null  int64
 3   iday              181691 non-null  int64
 4   extended          181691 non-null  int64
 5   country           181691 non-null  int64
 6   country_txt       181691 non-null  object
 7   region            181691 non-null  int64
 8   region_txt        181691 non-null  object
 9   provstate         181270 non-null  object
 10  city              181257 non-null  object
 11  latitude          177135 non-null  float64
 12  longitude         177134 non-null  float64
 13  specificity       181685 non-null  float64
 14  vicinity          181691 non-null  int64
 15  location          55495 non-null   object
 16  summary           115562 non-null  object
 17  crit1             181691 non-null  int64
 18  crit2             181691 non-null  int64
 19  crit3             181691 non-null  int64
 20  doubtterr         181690 non-null  float64
 21  multiple          181690 non-null  float64
 22  success           181691 non-null  int64
 23  suicide           181691 non-null  int64
 24  attacktype1       181691 non-null  int64
 25  attacktype1_txt   181691 non-null  object
 26  targtype1         181691 non-null  int64
 27  targtype1_txt     181691 non-null  object
 28  targsubtype1      171318 non-null  float64
 29  targsubtype1_txt  171318 non-null  object
 30  corp1             139141 non-null  object
 31  target1           181055 non-null  object
 32  natlty1           180132 non-null  float64
 33  natlty1_txt       180132 non-null  object
 34  gname             181691 non-null  object
 35  motive            50561 non-null   object
 36  guncertain1       181311 non-null  float64
 37  individual        181691 non-null  int64
 38  nperps            110576 non-null  float64
 39  nperpcap          112202 non-null  float64
 40  claimed           115571 non-null  float64
 41  weaptype1         181691 non-null  int64
 42  weaptype1_txt     181691 non-null  object
 43  weapsubtype1      160923 non-null  float64
 44  weapsubtype1_txt  160923 non-null  object
 45  weapdetail        114021 non-null  object
 46  nkill             171378 non-null  float64
 47  nkillus           117245 non-null  float64
 48  nkillter          114733 non-null  float64
 49  nwound            165380 non-null  float64
 50  nwoundus          116989 non-null  float64
 51  nwoundte          112548 non-null  float64
 52  property          181691 non-null  int64
 53  propextent        64065 non-null   float64
 54  propextent_txt    64065 non-null   object
 55  propvalue         38989 non-null   float64
 56  propcomment       57959 non-null   object
 57  ishostkid         181513 non-null  float64
 58  nhostkid          13572 non-null   float64
 59  ransom            77381 non-null   float64
 60  scite1            115500 non-null  object
 61  scite2            76933 non-null   object
 62  scite3            43516 non-null   object
 63  dbsource          181691 non-null  object
 64  INT_LOG           181691 non-null  int64
 65  INT_IDEO          181691 non-null  int64
 66  INT_MISC          181691 non-null  int64
 67  INT_ANY           181691 non-null  int64
dtypes: float64(23), int64(22), object(23)
memory usage: 94.3+ MB

In [ ]:
# Replacing the null values for object type

df1["provstate"].fillna("Not present",inplace = True)
df1["city"].fillna("Not present",inplace = True)
df1["location"].fillna("Not present",inplace = True)
df1["summary"].fillna("Not present",inplace = True)
df1["targsubtype1_txt"].fillna("Not present",inplace = True)
df1["corp1"].fillna("Not present",inplace = True)
df1["target1"].fillna("Not present",inplace = True)
df1["natlty1_txt"].fillna("Not present",inplace = True)
df1["motive"].fillna("Not present",inplace = True)
df1["weapsubtype1_txt"].fillna("Not present",inplace = True)
df1["weapdetail"].fillna("Not present",inplace = True)
df1["propextent_txt"].fillna("Not present",inplace = True)
df1["propcomment"].fillna("Not present",inplace = True)
df1["scite1"].fillna("Not present",inplace = True)
df1["scite2"].fillna("Not present",inplace = True)
df1["scite3"].fillna("Not present",inplace = True)

In [ ]:
# Replacing the null values for int and float type

df1["latitude"].fillna(df["latitude"].mean(),inplace = True)
df1["longitude"].fillna(df["longitude"].mode(),inplace = True)
df1["doubtterr"].fillna(df["doubtterr"].mean(),inplace = True)
df1["multiple"].fillna(df["multiple"].mean(),inplace = True)
df1["targsubtype1"].fillna(df["targsubtype1"].mean(),inplace = True)
df1["natlty1"].fillna(df["natlty1"].mode(),inplace = True)
df1["guncertain1"].fillna(df["guncertain1"].mode(),inplace = True)
df1["nperps"].fillna(df["nperps"].mode(),inplace = True)
df1["nperpcap"].fillna(df["nperpcap"].mode(),inplace = True)
df1["claimed"].fillna(df["claimed"].mean(),inplace = True)
df1["weapsubtype1"].fillna(df["weapsubtype1"].mode(),inplace = True)
df1["nkill"].fillna(df["nkill"].mode(),inplace = True)
df1["nkillus"].fillna(df["nkillus"].mode(),inplace = True)
df1["nkillter"].fillna(df["nkillter"].mode(),inplace = True)
df1["nwound"].fillna(df["nwound"].mode(),inplace = True)
df1["nwoundus"].fillna(df["nwoundus"].mode(),inplace = True)
df1["nwoundte"].fillna(df["nwoundte"].mode(),inplace = True)
df1["propextent"].fillna(df["propextent"].mode(),inplace = True)
df1["propvalue"].fillna(df["propvalue"].mean(),inplace = True)
df1["nhostkid"].fillna(df["nhostkid"].mode(),inplace = True)
df1["ransom"].fillna(df["ransom"].mode(),inplace = True)